@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons

<div class="top-row ps-3 navbar navbar-dark">
            <FluentStack Orientation="Microsoft.FluentUI.AspNetCore.Components.Orientation.Horizontal" Width="100%">
                <div>
                    <FluentNavMenu @bind-Expanded="@Expanded" Width="200" Collapsible="true" CollapsedChildNavigation="@EnableCollapsedChildNavigation" Title="Menü">
                        <FluentNavLink Icon="@(new Icons.Color.Size24.Home())" Href="/" Tooltip="Home" Class="fluent-navlink">Start</FluentNavLink>
                        <FluentNavGroup Title="Arbeitsberichte" Tooltip="Zu den Arbeitsberichten" Icon="@(new Icons.Regular.Size24.EarthLeaf())" Class="fluent-navlink">
                            <FluentNavLink Icon="@(new Icons.Color.Size24.Document())" Href="/arbeitsscheine" Tooltip="Zum allgemeinen Arbeitsbericht" Class="fluent-navlink">Projekt</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Color.Size24.DocumentFolder())" Href="/arbeitsberichtprojects" Tooltip="Alle Projekte" Class="fluent-navlink">Alle Projekte</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavGroup Icon="@(new Icons.Color.Size24.SlideTextSparkle())" Title="Umsatz" Tooltip="Item 5 tooltip" Class="fluent-navlink">
                            <FluentNavLink Icon="@(new Icons.Color.Size24.Table())" Href="/umsatz" Tooltip="Zum Umsatz" Class="fluent-navlink">Projektumsatz</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Color.Size24.TextBulletListSquare())" Href="/umsatzall" Tooltip="Gesamtmsatz" Class="fluent-navlink">GesamtUmsatz</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavGroup Icon="@(new Icons.Color.Size24.LayerDiagonalPerson())" Title="Anlagen" Tooltip="Item 5 tooltip" Class="fluent-navlink">
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.VehicleCab())" Href="/anlagen" Tooltip="Anlagen Management" Class="fluent-navlink">Anlagen</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Regular.Size24.VehicleTruckCheckmark())" Href="/project-anlage" Tooltip="Projekt Anlage Management" Class="fluent-navlink">Projekt Anlage</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavGroup Icon="@(new Icons.Color.Size24.PeopleTeam())" Title="Monteure" Tooltip="Item 5 tooltip" Class="fluent-navlink">
                            <FluentNavLink Icon="@(new Icons.Color.Size24.People())" Href="/monteure" Tooltip="Monteur Management" Class="fluent-navlink">Monteure</FluentNavLink>
                            <FluentNavLink Icon="@(new Icons.Color.Size24.PeopleCommunity())" Href="/monteuranlage" Tooltip="Monteur-Anlagen Management" Class="fluent-navlink">Monteur-Anlagen</FluentNavLink>
                        </FluentNavGroup>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.ProjectionScreenText())" Href="/projects" Tooltip="Projekt Management" Class="fluent-navlink">Projekte</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.Guardian())" Href="/bauleiter" Tooltip="Bauleiter Management" Class="fluent-navlink">Bauleiter</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.Guardian())" Href="/rechnung" Tooltip="Rechnung Management" Class="fluent-navlink">Rechnung</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.DataUsageCheckmark())" Href="/dashboard" Tooltip="Dashboard" Class="fluent-navlink">Dashboard</FluentNavLink>
                    </FluentNavMenu>
                </div>
            </FluentStack>
</div>

@code {
    private bool Expanded { get; set; } = true;
    private bool EnableCollapsedChildNavigation { get; set; } = true;
}