@page "/arbeitsscheine"
@using IbeAppWeb.DTOs
@inject ArbeitsscheinService ArbeitsscheinService
@inject ProjectService ProjectService
@inject AnlagenService AnlagenService
@inject MonteurService MonteurService
@inject IJSRuntime JS
@using System.ComponentModel.DataAnnotations
@using IbeAppWeb.Services
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using IbeAppWeb.Forms


<h3>Arbeitsbericht</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}

<EditForm Model="@formModel" OnValidSubmit="LoadArbeitsscheine">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="projectDb" class="form-label">Projekt:</label>
                <SfComboBox TValue="int?" TItem="Project" PopupHeight="230px" Placeholder="Projekt"
                @bind-value="@formModel.SelectedProjectId" DataSource="@projects">
                    <ComboBoxFieldSettings Text="ProjectName" Value="ProjectId" />
                </SfComboBox>
            </div>
            <div class="col-md-4">
                <label class="form-label">Wähle Bereich:</label>
                <SfComboBox TValue="int" TItem="KanalSchacht" PopupHeight="230px" @bind-value="@ComboBoxValue" DataSource="@kanalSchachtList">
                    <ComboBoxEvents TValue="int" TItem="KanalSchacht" />
                    <ComboBoxFieldSettings Text="Auswahl" Value="Id" />
                </SfComboBox>
            </div>
            <div class="col-md-4">
                <label for="abschlagsrechnung" class="form-label">Abschlagsrechnung:</label>
                <SfTextBox @bind-value="@formModel.Abschlagsrechnung"></SfTextBox>
                <ValidationMessage For="@(() => formModel.Abschlagsrechnung)" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="saniertAmVon" class="form-label">Ausgeführt ab:</label>
                <SfDatePicker TValue="DateTime?" @bind-value="@formModel.SaniertAmVon"></SfDatePicker>
            </div>

            <div class="col-md-4">
                <label for="saniertAmBis" class="form-label">Ausgeführt bis:</label>
                <SfDatePicker TValue="DateTime?" @bind-value="@formModel.SaniertAmBis"></SfDatePicker>
            </div>
            <div class="col-md-4">
                <label for="saniertAm" class="form-label">Ausgeführt am:</label>
                <SfDatePicker TValue="DateTime?" @bind-value="@formModel.SaniertAm" @onchange="@OnSaniertAmChanged"></SfDatePicker>
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="kolonnenfuehrer" class="form-label">Kolonnenführer:</label>
                <SfComboBox TValue="int?" TItem="MonteurResponse" PopupHeight="230px" Placeholder="Kolonnenführer"
                            @bind-value="@formModel.SelectedKolonnenfuehrerId" DataSource="@monteurData">
                    <ComboBoxFieldSettings Text="FullName" Value="MonteurId" />
                </SfComboBox>
            </div>
            <div class="col-md-4">
                <label for="monteurname" class="form-label">Monteur:</label>
                <SfComboBox TValue="int?" TItem="MonteurResponse" PopupHeight="230px" Placeholder="Monteur"
                            @bind-value="@formModel.SelectedMonteurId" DataSource="@monteurData">
                    <ComboBoxFieldSettings Text="FullName" Value="MonteurId" />
                </SfComboBox>
            </div>

            <div class="col-md-4">
                <label for="fahrzeug" class="form-label">Fahrzeug:</label>
                <SfComboBox TValue="int?" TItem="AnlageDto" PopupHeight="230px" Placeholder="Anlage"
                            @bind-value="@formModel.SelectedAnlageId" DataSource="@anlageData">
                    <ComboBoxFieldSettings Text="AnlageName" Value="AnlageId" />
                </SfComboBox>
            </div>
            <div class="col-md-4 d-flex align-items-end">
                <br/>
                <SfButton class="btn btn-primary me-2" type="submit" disabled="@isLoading">Lade Arbeitsberichte</SfButton>
                <SfButton class="btn btn-secondary" type="button" @onclick="ResetForm">Reset</SfButton>
            </div>
        </div>
    </div>
</EditForm>
@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <SfGrid ID="Grid" @ref="grid" DataSource="@arbeitsscheine" AllowPaging="true" AllowSelection="true" AllowReordering="true" AllowGrouping="true" Toolbar="@ToolbarItems" AllowPdfExport="true" Height="300">
        <GridPageSettings PageCount="5" PageSizes="true" PageSize="10"></GridPageSettings>
        <GridTemplates>
            <DetailTemplate Context="ascontext">
                @{
                    var arbeitsschein = (ascontext as ArbeitsscheinDto);
                    <table class="detailtable" width="100%">
                        <colgroup>
                            <col width="30%" />
                            <col width="30%" />
                            <col width="40%" />
                        </colgroup>
                        <thead>
                            <th colspan="2" style="font-weight: 500;text-align: center; background-color: #ADD8E6;">
                                Details
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Monteure:</strong><br>
                                    <span>@arbeitsschein?.Monteur</span>
                                </td>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Anlagen:</strong><br>
                                    <span>@arbeitsschein?.AnlageName</span>
                                </td>

                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Kurztext:</strong><br>
                                    <span> @arbeitsschein?.Kurztext</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Anzahl Monteure:</strong><br>
                                    <span>@(arbeitsschein?.MonteurList.Count)</span>
                                </td>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Anzahl Anlagen:</strong><br>
                                    <span>@(arbeitsschein?.FahrzeugList.Count)</span>
                                </td>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Preis:</strong><br>
                                    <span>@(arbeitsschein?.Preis.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €")</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Anteil pro Monteur:</strong><br>
                                    <span>@((arbeitsschein.Positionssumme / (arbeitsschein.MonteurList.Count)).ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €")</span>
                                </td>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Anteil pro Anlage:</strong><br>
                                    <span>@((arbeitsschein.Positionssumme / (arbeitsschein.FahrzeugList.Count)).ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €")</span>
                                </td>
                                <td style="text-align: center;">
                                    <strong style="color: #0a76ff;">Positionssumme:</strong><br>
                                    <span>@(arbeitsschein?.Positionssumme.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €")</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </DetailTemplate>
        </GridTemplates>
        <GridEvents OnToolbarClick="ToolbarClickHandler" PdfDetailTemplateExporting="PDFDetailTemplateHandler" TValue="ArbeitsscheinDto" />
        <GridColumns>
            <GridColumn Field=@nameof(ArbeitsscheinDto.HALTUNG) HeaderText="Haltung" Width="40"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.LVPosition) HeaderText="LV-Position" Width="40"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.Menge) HeaderText="Menge" Width="80"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.SaniertAm) HeaderText="Ausgeführt am" Width="80" Format="dd.MM.yyyy"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.Abschlagsrechnung) HeaderText="AR" Width="30"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.Kolonnenfuehrer) HeaderText="Kolonnenführer" Width="80"></GridColumn>
            <GridColumn Field=@nameof(ArbeitsscheinDto.AnlageName) HeaderText="Fahrzeug" Width="80"></GridColumn>
        </GridColumns>
    </SfGrid>
    <div class="row mt-3">
        <div class="col-md-12">
            <h5>Gesamtsumme: @(gesamtSumme.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €")</h5>
        </div>
    </div>
}

<style type="text/css" class="cssStyles">
    .deatailTable td {
    font-size: 13px;
    padding: 4px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    }
</style>

@code {
    private SfGrid<ArbeitsscheinDto> grid;

    private ArbeitsscheinFormModel formModel = new();

    private List<ArbeitsscheinDto> arbeitsscheine;

    private ArbeitsscheinResultDto arbeitsscheinResultDto;

    private List<Project>? projects = new();

    private IEnumerable<MonteurResponse> monteurData { get; set; } = new List<MonteurResponse>();

    private IEnumerable<AnlageDto> anlageData { get; set; } = new List<AnlageDto>();


    private List<string> ToolbarItems = new List<string>() { "PdfExport" };
    private bool isLoading = false;
    private string base64Image;
    private string projectDb;
    private Decimal gesamtSumme;
    private bool IsSaniertAmUsed => formModel.SaniertAm.HasValue;
    private string Message = string.Empty;
    private string errorMessage = string.Empty;
    private string successMessage = string.Empty;


    private List<KanalSchacht> kanalSchachtList = new List<KanalSchacht>
    {
        new KanalSchacht { Id = 1, Auswahl = "Kanal" },
        new KanalSchacht { Id = 2, Auswahl = "Schacht" }
    };

    private int ComboBoxValue = 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadProjects();
        await LoadMonteure();
        await LoadAnlagen();
        await LoadImage();
    }

    private async Task LoadImage()
    {
        // JS-Modul laden
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/imageHelper.js");

        // Funktion aufrufen
        base64Image = await module.InvokeAsync<string>("getImageAsBase64", "images/logos/logo_oxid.png");
    }

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (string.IsNullOrWhiteSpace(base64Image))
        {
            await LoadImage();
        }
        if (!string.IsNullOrWhiteSpace(base64Image))
        {
            string pureBase64 = base64Image.Split(',')[1];

            if (args.Item.Id == "Grid_pdfexport" && grid != null)
            {
                PdfExportProperties ExportProperties = new PdfExportProperties();
                ExportProperties.PdfDetailRowMode = PdfDetailRowMode.Expand;
                ExportProperties.FileName = "Arbeitsbericht.pdf";
                Syncfusion.PdfExport.PdfFont font = new Syncfusion.PdfExport.PdfStandardFont(Syncfusion.PdfExport.PdfFontFamily.Helvetica, 10);
                List<PdfHeaderFooterContent> HeaderContent = new List<PdfHeaderFooterContent>
                {
                    new PdfHeaderFooterContent()
                    {
                        Type = ContentType.Image, Src=pureBase64,
                         Position = new PdfPosition() {X=0, Y = 0 }
                    },
                    new PdfHeaderFooterContent()
                    {
                        Type = ContentType.Text,
                        Value = "Arbeitsbericht",
                        Position = new PdfPosition() {X=300, Y = 0 },
                        Style = new PdfContentStyle() { FontSize = 18, TextBrushColor="#C67878" }
                    },
                    new PdfHeaderFooterContent()
                    {
                        Type = ContentType.Text,
                        Value = "Projekt: " + projectDb,
                        Position = new PdfPosition() {X=300, Y = 30 },
                        Style = new PdfContentStyle() { FontSize = 14, TextBrushColor="#0a76ff" }
                    },
                    new PdfHeaderFooterContent()
                    {
                        Type = ContentType.Text,
                        Value = "Gesamtsumme: " + gesamtSumme.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE")) + " €",
                        Position = new PdfPosition() { X = 500, Y = 35 },
                        Style = new PdfContentStyle()
                        {
                            FontSize = 10,
                            TextBrushColor = "#000000",
                        }                    
                    }
                };
                PdfHeader Header = new PdfHeader() { FromTop = 0, Height = 80, Contents = HeaderContent };
                ExportProperties.Header = Header;

                await grid.PdfExport(ExportProperties);
            }
        }
    }

    public void PDFDetailTemplateHandler(PdfDetailTemplateEventArgs<ArbeitsscheinDto> args)
    {
        var pdfRows = new List<PdfDetailTemplateRow>();
        var data = args.ParentRow.Data;
        args.RowInfo.ColumnCount = 2;
        args.RowInfo.Headers = new List<PdfDetailTemplateRow>()
        {
            new PdfDetailTemplateRow()
            {
                Cells = new List<PdfDetailTemplateCell>()
                { new PdfDetailTemplateCell()
                    {
                        Index = 0,
                        CellValue = "Details",
                        ColumnSpan = 2,
                        Style = new PdfThemeStyle()
                        {
                            Bold = true,
                            FontColor = "#0A76FF",
                            FontSize = 12
                        }
                    }
                }
            }
        };
        pdfRows.Add(ProcessPdfRow("Monteure", data.Monteur, "Kurztext", data.Kurztext));
        pdfRows.Add(ProcessPdfRow("Preis", $"{data.Preis.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))} €", "Positionspreis", $"{data.Positionssumme.ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))} €"));
        pdfRows.Add(ProcessPdfRow("Anzahl Monteure", $"{data.MonteurList.Count}", "Anteil pro Monteur", $"{(data.Positionssumme / (data.MonteurList.Count)).ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))} €"));
        pdfRows.Add(ProcessPdfRow("Anzahl Fahrzeuge", $"{data.FahrzeugList.Count}", "Anteil pro Fahrzeug", $"{(data.Positionssumme / (data.FahrzeugList.Count)).ToString("N2", System.Globalization.CultureInfo.GetCultureInfo("de-DE"))} €"));

        args.RowInfo.Rows = pdfRows;
    }

    PdfDetailTemplateRow ProcessPdfRow(string label1, string value1, string label2, string value2)
    {
        var cells = new List<PdfDetailTemplateCell>();
        cells.Add(new PdfDetailTemplateCell() { CellValue = $"{label1}: {value1}" });
        cells.Add(new PdfDetailTemplateCell() { CellValue = $"{label2}: {value2}" });
        return new PdfDetailTemplateRow() { Cells = cells };
    }

    private void OnSaniertAmChanged(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        if (DateTime.TryParse(e.Value?.ToString(), out var date))
        {
            formModel.SaniertAm = date;
            formModel.SaniertAmVon = null;
            formModel.SaniertAmBis = null;
        }
        else
        {
            formModel.SaniertAm = null;
        }
    }

    private async Task ShowMessage(string message, bool isSuccess)
    {
        if (isSuccess)
        {
            successMessage = message;
            errorMessage = null;
        }
        else
        {
            errorMessage = message;
            successMessage = null;
        }

        StateHasChanged();

        await Task.Delay(3000);

        if (isSuccess)
        {
            successMessage = null;
        }
        else
        {
            errorMessage = null;
        }

        StateHasChanged();
    }


    private async Task LoadProjects()
    {
        try
        {
            projects = await ProjectService.GetActiveProjectsAsync();
        }
        catch
        {
            ShowMessage($"Fehler beim Laden der Projektdaten", false);
        }
    }

    private async Task LoadMonteure()
    {
        try
        {
            monteurData = await MonteurService.GetAllMonteure();
        }
        catch
        {
            ShowMessage($"Fehler beim Laden der Monteurdaten", false);
        }
    }

    private async Task LoadAnlagen()
    {
        try
        {
            anlageData = await AnlagenService.GetAllAnlagen();
        }
        catch
        {
            ShowMessage($"Fehler beim Laden der Anlagendaten", false);
        }
    }

    private async Task LoadArbeitsscheine()
    {
        isLoading = true;

        try
        {
            var selectedProject = projects.FirstOrDefault(p => p.ProjectId == formModel.SelectedProjectId);
            projectDb = selectedProject?.ProjectName ?? "defaultDb";

            arbeitsscheinResultDto = await ArbeitsscheinService.GetArbeitsscheineAsync(
                firma: formModel.Firma,
                saniertAmVon: formModel.SaniertAmVon,
                saniertAmBis: formModel.SaniertAmBis,
                saniertAm: formModel.SaniertAm,
                abschlagsrechnung: formModel.Abschlagsrechnung,
                kolonnenfuehrer: monteurData.FirstOrDefault(kanalSchachtList => kanalSchachtList.MonteurId == formModel.SelectedKolonnenfuehrerId)?.Nachname,
                fahrzeug: anlageData.FirstOrDefault(anlageData => anlageData.AnlageId == formModel.SelectedAnlageId)?.AnlageName,
                monteurname: monteurData.FirstOrDefault(m => m.MonteurId == formModel.SelectedMonteurId)?.Nachname,
                projectDb: projectDb,
                ComboBoxValue: ComboBoxValue
            );
            arbeitsscheine = arbeitsscheinResultDto.Arbeitsscheine;
            gesamtSumme = await GetSumAsync();

        }
        catch
        {
            ShowMessage($"Fehler beim Laden der Arbeistberichtdaten", false);
        }
        finally
        {
            isLoading = false;
        }
    }
    private async Task<Decimal> GetSumAsync()
    {
        gesamtSumme = 0;
        foreach (var item in arbeitsscheine)
        {
            gesamtSumme += item.Positionssumme;
        }
        return gesamtSumme;
    }
    private void ResetForm()
    {
        formModel = new();
        arbeitsscheine = null;
    }

    public class ArbeitsscheinFormModel
    {
        [Required]
        public int? SelectedProjectId { get; set; }

        public string? Firma { get; set; }

        [DataType(DataType.Date)]
        public DateTime? SaniertAmVon { get; set; }

        [DataType(DataType.Date)]
        public DateTime? SaniertAmBis { get; set; }

        [DataType(DataType.Date)]
        public DateTime? SaniertAm { get; set; }
        [MaxLength(4, ErrorMessage = "Name für die Abschlagsrechnung darf nicht länger als 4 Zeichen sein!")]
        public string? Abschlagsrechnung { get; set; }
        [MaxLength(30, ErrorMessage = "Name für den Kolonnenführer darf nicht länger als 30 Zeichen sein!")]
        public string? Kolonnenfuehrer { get; set; }
        [MaxLength(10, ErrorMessage = "Name für das Fahrzeug darf nicht länger als 10 Zeichen sein!")]
        public string? Fahrzeug { get; set; }
        [MaxLength(30,ErrorMessage = "Name für den Monteur darf nicht länger als 30 Zeichen sein!")]
        public string? Monteur { get; set; }
        public int? SelectedKolonnenfuehrerId { get; set; }
        public int? SelectedMonteurId { get; set; }
        public int? SelectedAnlageId { get; set; }
    }

    public IEnumerable<ValidationResult> Validate(ValidationContext validationContext)
    {
        if (formModel.SaniertAmVon.HasValue && formModel.SaniertAmBis.HasValue && formModel.SaniertAmVon > formModel.SaniertAmBis)
        {
            yield return new ValidationResult
            (
                "Saniert Am Von darf nicht nach Saniert Am Bis liegen.",
                new[] { nameof(formModel.SaniertAmVon), nameof(formModel.SaniertAmBis) });
            }
        }
    }
}

