@page "/dashboard"  
@using IbeAppWeb.DTOs.Umsatz  
@using static System.Net.WebRequestMethods  
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids  
@using Syncfusion.Blazor.Charts  
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Calendars
@using IbeAppWeb.Services
@using System.Globalization
@inject UmsatzService UmsatzService
@inject IbeToastService ToastService
@inject NavigationManager NavigationManager

<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2 class="text-2xl font-bold mb-4">Umsatz-Dashboard</h2>
    <div class="control-wrapper">
        <label class="example-label">Dashboard Datumsbereich</label>
        <SfDateRangePicker TValue="DateTime?" Placeholder="Periode auswählen" ShowClearButton="true" FullScreen="true">
            <DateRangePickerEvents TValue="DateTime?" ValueChange="RangeSelectHandler"></DateRangePickerEvents>
            <DateRangePickerPresets>
                <DateRangePickerPreset Label="@LabelThisWeek" Start="@WeekStart" End="@WeekEnd"></DateRangePickerPreset>
                <DateRangePickerPreset Label="@LabelThisMonth" Start="@MonthStart" End="@MonthEnd"></DateRangePickerPreset>
                <DateRangePickerPreset Label="@LabelLastMonth" Start="@LastMonthStart" End="@LastMonthEnd"></DateRangePickerPreset>
                <DateRangePickerPreset Label="@LabelThisYear" Start="@ThisYearStart" End="@ThisYearEnd"></DateRangePickerPreset>
                <DateRangePickerPreset Label="@LabelLastYear" Start="@LastYearStart" End="@LastYearEnd"></DateRangePickerPreset>
            </DateRangePickerPresets>
        </SfDateRangePicker>
    </div>
</div>
@if (dashboardData is null)  
{  
    <p>Lade Daten...</p>           
}  
else  
{ 
    <div class="mb-4 font-semibold">  
        Gesamtumsatz aller Projekte: <span style="color:green">€@dashboardData.GesamtumsatzAllProjects.ToString("N2")</span>  
    </div>  
    <SfChart Title="Umsatz je Projekt" >
        <ChartEvents OnPointClick="PointClickEvent"></ChartEvents>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" Title="Projekt">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryXAxis>
        <ChartMargin Bottom="12"></ChartMargin>
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartPrimaryYAxis Title="Umsatz (€) " LabelFormat="N2">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>  
            <ChartSeries DataSource="@dashboardData.Projects"  
                         XName="ProjectName"  
                         YName="GesamtumsatzAlle"  
                         Name="Gesamtumsatz lt. LV"
                         GroupName="ProjectName"
                         Fill="url(#grad1)"
                         ColumnWidth="0.7" ColumnSpacing="0.1" 
                         Type="ChartSeriesType.Column" 
                         CornerRadius="@(new ChartCornerRadius { TopLeft = 4, TopRight = 4})" 
                         LegendShape="LegendShape.Rectangle">
                <ChartMarker>
                    <ChartDataLabel Visible="true" Format="N2"></ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@dashboardData.Projects"
                         XName="ProjectName"
                         YName="GesamtumsatzMitDatum"
                         Name="Gesamtumsatz ausgeführt"
                         GroupName="ProjectName"
                         Fill="url(#grad2)"
                         ColumnWidth="0.5" ColumnSpacing="0.1" 
                         Type="ChartSeriesType.Column" 
                         CornerRadius="@(new ChartCornerRadius { TopLeft = 4, TopRight = 4})" 
                         LegendShape="LegendShape.Rectangle">
                <ChartMarker>
                    <ChartDataLabel Visible="true" Format="N2"></ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="true" ShapeHeight="9" ShapeWidth="9"></ChartLegendSettings>
    </SfChart>  

        <div class="grid-container">
            <div class="grid-half">
            @if (!string.IsNullOrEmpty(projectName))
            {
                <h5>Monteur Umsatz für @projectName</h5>
            }
            else
            {
                <h5>Monteur Umsatz</h5>
            }
            <SfGrid @ref="monteurGrid" DataSource="@monteurData" AllowPaging="true" AllowSorting="true" ShowColumnChooser="true">
                    <GridPageSettings PageCount="5" PageSizes="true" PageSize="5"></GridPageSettings>
                    <GridColumns>  
                        <GridColumn Field="ProjectName" HeaderText="Projekt" Width="150" />  
                        <GridColumn Field="Monteur" HeaderText="Monteur" Width="200" />
                    <GridColumn Field="Gesamtumsatz" HeaderText="Umsatz (€) " Format="N2" Type="Syncfusion.Blazor.Grids.ColumnType.Decimal" TextAlign="TextAlign.Right" Width="150" />
                </GridColumns>  
                </SfGrid>  
            </div>
            <div class="grid-half">
                @if(!string.IsNullOrEmpty(projectName))
                {
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <h5>Anlage Umsatz für @projectName</h5>                    
                        <Syncfusion.Blazor.Buttons.SfButton CssClass="e-primary" 
                        OnClick="GotoArbeitsbericht">
                            Arbeitsbericht
                        </Syncfusion.Blazor.Buttons.SfButton>
                    </div>
                }
                else
                {
                    <h5>Anlage Umsatz</h5>
                }
                <SfGrid @ref="anlageGrid" DataSource="@fahrzeugData" AllowPaging="true" AllowSorting="true">
                    <GridPageSettings PageCount="5" PageSizes="true" PageSize="5"></GridPageSettings>
                    <GridColumns>  
                        <GridColumn Field="ProjectName" HeaderText="Projekt" Width="150" />  
                        <GridColumn Field="Fahrzeug" HeaderText="Anlage" Width="200" />
                    <GridColumn Field="Gesamtumsatz" HeaderText="Umsatz (€) " Format="N2" Type="Syncfusion.Blazor.Grids.ColumnType.Decimal" TextAlign="TextAlign.Right" Width="150" />
                </GridColumns>  
                </SfGrid>    
            </div>
        </div>
}
<div id="container">
    <SfSpinner @bind-Visible="@isLoading" Label="Loading...." Type="@SpinnerType.Bootstrap">
    </SfSpinner>
</div>
<style>
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 1.0rem;
    }

    .grid-half {
        flex: 1 1 48%;
        min-width: 300px;
    }
</style>
<svg style="height: 0">
    <defs>
        <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="20%" style="stop-color:orange;stop-opacity:1" />
            <stop offset="100%" style="stop-color:darkred;stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>
<svg style="height: 0">
    <defs>
        <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="20%" style="stop-color:limegreen;stop-opacity:1" />
            <stop offset="100%" style="stop-color:cornflowerblue;stop-opacity:1" />
        </linearGradient>
    </defs>
</svg>

@code {
    private SfGrid<MonteurUmsatzDto>? monteurGrid;
    private SfGrid<FahrzeugUmsatzDto>? anlageGrid;
    private AllProjectsUmsatzSplitDto? dashboardData;
    private List<ProjektUmsatzDto> projektDaten = new();
    private List<MonteurUmsatzDto> monteurData = new();
    private List<FahrzeugUmsatzDto> fahrzeugData = new();


    private List<string> projektNamen = new();
    private List<string> monteurNamen = new();
    private List<string> fahrzeugNamen = new();


    private bool SidebarToggle { get; set; } = false;
    private bool isLoading = false;
    private string? projectName = string.Empty;
    private string? message = string.Empty;

    private string LabelThisWeek { get; set; }
    private string LabelThisMonth { get; set; }
    private string LabelLastMonth { get; set; }
    private string LabelThisYear { get; set; }
    private string LabelLastYear { get; set; }
    private DateTime LastMonth { get; set; }
    private DateTime WeekStart { get; set; }
    private DateTime WeekEnd { get; set; }
    private DateTime MonthStart { get; set; }
    private DateTime MonthEnd { get; set; }
    private DateTime LastMonthStart { get; set; }
    private DateTime LastMonthEnd { get; set; }
    private DateTime ThisYearStart { get; set; }
    private DateTime ThisYearEnd { get; set; }
    private DateTime LastYearStart { get; set; }
    private DateTime LastYearEnd { get; set; }
    private int Days { get; set; }
    private DateTime start;
    private DateTime end;

    protected override async Task OnInitializedAsync()
    {
        start = new DateTime(DateTime.Now.Year,1,1);
        end = new DateTime(DateTime.Now.Year, 12, 31);      

        Days = (int)DateTime.Now.DayOfWeek;
        LastMonth = DateTime.Now.AddMonths(-1);
        WeekStart = DateTime.Now.AddDays(-Days);
        WeekEnd = WeekStart.AddDays(6);
        MonthStart = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
        MonthEnd = MonthStart.AddMonths(1).AddDays(-1);
        LastMonthStart = new DateTime(LastMonth.Year, LastMonth.Month, 1);
        LastMonthEnd = LastMonthStart.AddMonths(1).AddDays(-1);
        ThisYearStart = new DateTime(DateTime.Now.Year, 1, 1);
        ThisYearEnd = new DateTime(DateTime.Now.Year, 12, 31);
        LastYearStart = new DateTime(DateTime.Now.Year - 1, 1, 1);
        LastYearEnd = new DateTime(DateTime.Now.Year - 1, 12, 31);
        var CurrentCulture = CultureInfo.CurrentCulture;
        UpdateLabels(CurrentCulture);

        await LoadDashboard();
    }

    private async Task LoadDashboard()
    {   
        isLoading = true;

        dashboardData = await UmsatzService.GetProjectsUmsatzSplit(start, end);

        if (dashboardData != null)
        {
            projektDaten = dashboardData.Projects;
            monteurData = projektDaten.SelectMany(p => p.MonteurUmsaetze).ToList();
            fahrzeugData = projektDaten.SelectMany(p => p.FahrzeugUmsaetze).ToList();
        }
        else
        {
            message = "Keine Daten gefunden.";
            await ToastService.ShowToast(message, false);
        }
        isLoading = false;
    }

    private void UpdateLabels(CultureInfo culture)
    {
        var labels = GetLocalizedLabels(culture);
        LabelThisWeek = labels["ThisWeek"];
        LabelThisMonth = labels["ThisMonth"];
        LabelLastMonth = labels["LastMonth"];
        LabelThisYear = labels["ThisYear"];
        LabelLastYear = labels["LastYear"];
    }

    public async Task RangeSelectHandler(RangePickerEventArgs<DateTime?> args)
    {
        args.IsInteracted = true;
        start = args.StartDate ?? new DateTime(DateTime.Now.Year,1,1); 
        end = args.EndDate ?? new DateTime(DateTime.Now.Year, 12, 31);
        projectName = string.Empty;
        dashboardData = null;
        projektDaten = new List<ProjektUmsatzDto>();
        monteurData = new List<MonteurUmsatzDto>();
        fahrzeugData = new List<FahrzeugUmsatzDto>();
        await LoadDashboard();
        StateHasChanged();
    }

    public void PointClickEvent(PointEventArgs args)
    {
        projectName = args.Point.X?.ToString();
        monteurData = projektDaten
            .Where(p => p.ProjectName == projectName)
            .SelectMany(p => p.MonteurUmsaetze)
            .ToList();
        fahrzeugData = projektDaten
            .Where(p => p.ProjectName == projectName)
            .SelectMany(p => p.FahrzeugUmsaetze)
            .ToList();
        StateHasChanged();
    }

    public void GotoArbeitsbericht()
    {
        if (!string.IsNullOrEmpty(projectName))
        {
            var Id = projektDaten.FirstOrDefault(p => p.ProjectName == projectName)?.ProjectId;
            var schacht = projektDaten.FirstOrDefault(p => p.ProjectName == projectName)?.IsSchacht;
            NavigationManager.NavigateTo($"/arbeitsscheine/{Id}/{schacht}/{start.ToString("s")}/{end.ToString("s")}");
        }       
    }

    private Dictionary<string, string> GetLocalizedLabels(CultureInfo culture)
    {
        var localizedLabels = new Dictionary<string, Dictionary<string, string>>
        {
            ["en"] = new Dictionary<string, string> { { "ThisWeek", "This Week" }, { "ThisMonth", "This Month" }, { "LastMonth", "Last Month" }, { "LastYear", "Last Year" } },
            ["fr-CH"] = new Dictionary<string, string> { { "ThisWeek", "Cette semaine" }, { "ThisMonth", "Ce mois-ci" }, { "LastMonth", "Le mois dernier" }, { "LastYear", "L'année dernière" } },
            ["de-DE"] = new Dictionary<string, string> { { "ThisWeek", "Diese Woche" }, { "ThisMonth", "Diesen Monat" }, { "LastMonth", "Letzter Monat" }, { "LastYear", "Letztes Jahr" }, {"ThisYear", "Diese Jahr" } },
            ["zh-CN"] = new Dictionary<string, string> { { "ThisWeek", "本周" }, { "ThisMonth", "本月" }, { "LastMonth", "上个月" }, { "LastYear", "去年" } }
        };
        return localizedLabels.TryGetValue(culture.Name, out var labels) ? labels : localizedLabels["de-DE"];
    }
}
